
GT3D/Graphics_Engine/objects/ship/fix_obj.py
GT3D/Graphics_Engine/objects/ship/untitled.obj.json
GT3D/Graphics_Engine/objects/ship/untitled.mtl
GT3D/Graphics_Engine/objects/ship/untitled.obj
GT3D/Graphics_Engine/objects/ship/untitled.obj.bin
